@using Microsoft.AspNetCore.Identity
@using BASEDDEPARTMENT.Entities
@inject UserManager<AppUser> _userManager
@model EditProfileViewModel
@{
	var user = await _userManager.FindByIdAsync(Model.Id!);
}


<fieldset style="padding-left: 20px; padding-right: 20px;border: solid; border-width: 1px; border-radius: 5px; max-width: 576px;">
	<div style=" margin-top: 20px; margin-bottom: 20px;" class="text-center">
		@if (user?.Email == default )
		{
			<h2> You dont have an email attached to this profile</h2>
			<a class="btn btn-primary" href="@Url.Action("AttachUserEmail", new { userName = Model.UserName, id = Model.Id })" >
				Attach an email
			</a>
		}
		else
		{
			<div>
				<span class="justify-content-between d-flex" style="padding-right: 10px; ">
					<span style="padding-top: 5px;">Email: @Model.Email</span>
					<a class="btn btn-outline-secondary" asp-action="ChangeUserEmail" asp-controller="Account" asp-route-userName="@Model.UserName" asp-route-id="@Model.Id", asp-route-email="@Model.Email">
						Change Email
					</a>
				</span>
			</div>
		}
	</div>
</fieldset>
